
core-customize/hybris/bin/custom/cmsocc/.settings/org.eclipse.jdt.core.prefs

core-customize/hybris/bin/custom/cmsocc/.settings/org.eclipse.jdt.ui.prefs

core-customize/hybris/bin/custom/cmsocc/.springBeans.new
